<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<div id="app" class="container">
    <div v-if="!formSubmitted">
        <form @submit.prevent="submitForm()">
            <hr>
            <h4>Registrate</h4>
            <div class="form-group">
                <label for="first_name">Nombre</label>
                <input v-model="first_name" type="text" class="form-control" id="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Nombre</label>
                <input v-model="last_name" type="text" class="form-control" id="last_name">
            </div>
            <button type="submit" class="btn btn-primary" :disabled="!isFormValid()">continuar</button>
        </form>
    </div>
    <div v-else >
        <h4>Bienvenido {{first_name + ' ' + last_name }}</h4>
    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      first_name: '',
      last_name: '',
      formSubmitted : false
    },
    methods: {
      isFormValid: function () {
        return this.first_name && this.last_name
      },
      submitForm : function(){
        if(!this.isFormValid()) return;

        this.formSubmitted = true;
      }
    }
  })
</script>
</body>
</html>