<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<div id="app" class="container">
    <hr>
    {{$data}}
    <hr>
    <h4>Has trabajado con vue.js ?</h4>
    <form action="">
        <div class="radio">
            <label class="radio online">
                <!--con el atributo value evaluamos una cadena de texto, pero con v-bind es una expresión JS-->
                <!--en el caso de los option vue js evalua la expresión true/false-->
                <!--v-bind es igual a : (es la expresion corta)-->
                <input type="radio" v-model="vue.exp" :value="true"> Si
            </label>
            <label class="radio online">
                <input type="radio" v-model="vue.exp" :value="false"> No
            </label>
        </div>
        <!--v-if: elimina del DOM pero demora mas la transicion-->
        <!--v-show: Oculta con un display:none pero tarda menos en la transicion-->
        <!--la etiqueta Template evita al DOM renderizar el div, simplemente si se evalua el if como false no lo renderiza-->
        <!--Si la respuesta es sí-->
        <template v-if="vue.exp">
            <div class="form-group has-danger">
                <label> Cuantos años de experiencia tienes con Vue.js ?
                </label>
                <input type="number" class="form-control" v-model="vue.years">
            </div>
            <!--Para los atributos class y style podemos hacerlos dinamicos-->
            <!--usando v-bind (: en este caso) -->
            <!--podemos pasar un objeto js o un array con los estilos que dependen de una computed property -->
            <!--Si tiene un año de experiencia o menos-->
            <div class="form-group has-danger" v-if="vue.years < 2" :style="labelStyle">
                <label>Que te motivó a aprender Vue.js ?</label>
                <textarea rows="4" class="form-control" v-model="vue.description"></textarea>
            </div>

            <!--Si ha trabajado dos años o mas-->
            <div class="form-group has-danger" v-else="vue.years >= 2" :style="labelStyle">
                <label>Cuentanos tu experiencia con Vue.js</label>
                <textarea rows="4" class="form-control" v-model="vue.description"></textarea>
            </div>
            <!--v-show renderiza mas rapido-->
            <div class="alert alert-warning" role="alert" v-text="vue.message" v-show="!correctDescription"></div>
        </template>
    </form>

    <footer class="footer">
        © 2018 @ossymartinez
    </footer>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      vue: {
        exp: null,
        years: 0,
        description: '',
        message: ''
      }
    },
    computed: {
      correctDescription: function () {
        var size = this.vue.description.trim().length
        if (!size) {
          this.vue.message = 'Digite una descripción'
        } else if (size > 20) {
          this.vue.message = 'Excedió limite de descipción'
        } else
          return true
      },
      labelStyle : function () {
        if (this.correctDescription)
          return '';

        return { color : 'red'};
      }
    }
  })
</script>
</body>
</html>