<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<div id="app" class="container">
    <div class="form-grpup">
        <p>{{name}}, {{reversedName}}</p>
        <!--v-once no permite que se cambie el valor asignado en un inicio-->
        <span v-once>
        {{project}}
    </span>
        <!--v-text se usa en lugar de interpolacion {{}} solo admite propiedades del vm,
         - se puede bindear un texto cualquiera asi: v-text="'texto cualquiera'"
         - tambien permite expresiones JS ej: v-text="name + ' ' + reversedName"-->
        <h2 v-text="apellido + ' ' + reversedName"/></div>

    <div class="welcome" v-html="title"></div>

    <button class="btn btn-primary">saludar</button>
</div>

<hr>

<footer class="footer">
    © 2018 @ossymartinez
</footer>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      name: 'oswaldo',
      apellido: 'martinez',
      project: 'name Project Vue js',
      title: '<h1> string html titel in h1</h1>'
    },
    computed: {
      reversedName: function () {
        return this.name.split('').reverse().join('')
      }
    }
  })
</script>
</body>
</html>