<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Curso de Vue 2">
    <meta name="author" content="https://styde.net">
    <link rel="icon" href="favicon.ico">

    <title>Curso de Vue 2 - Styde.net</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">

    <link href="../crud/style.css" rel="stylesheet">
</head>
<body>
<div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
        <li class="list-group-item" v-for="(task,index) in tasks" :class="{editing : task.editing, completed : !task.pending}">
            <a href="#" @click="toogleStatus(task)"><span class="glyphicon" :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'"
                              aria-hidden="true"></span></a>

            <template v-if="!task.editing">
                <span class="description">{{task.description}}</span>
                <div>
                    <a href="#" @click="editTask(task)">
                            <span class="glyphicon glyphicon-edit"
                                  aria-hidden="true"></span>
                    </a>
                    <a href="#" @click="deleteTask(index)">
                            <span class="glyphicon glyphicon-trash"
                                  aria-hidden="true"></span>
                    </a>
                </div>
            </template>
            <template v-else>
                <input type="text" v-model="draft">
                <div>
                    <a href="#" @click="updateTask(task)">
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true"></span>
                    </a>
                    <a href="#" @click="discartTask(task)">
                            <span class="glyphicon glyphicon-remove"
                                  aria-hidden="true"></span>
                    </a>
                </div>
            </template>


        </li>
    </ul>

    <p><a @click="deleteCompleteTask()">Eliminar todas las tareas completadas</a></p>

    <form @submit.prevent="createTask" class="new-task-form">
        <input type="text" class="form-control" v-model="new_task">
        <button class="btn btn-primary">Crear tarea</button>
    </form>

    <footer class="footer">
        <p>&copy; 2017 Styde.net.</p>
    </footer>
</div>

<script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>

<script>
  var vm = new Vue({
    el: '#app',
    data: {
      draft: '',
      new_task : '',
      tasks: [
        {
          description: 'Learn Vue js',
          pending: true,
          editing: false
        },
        {
          description: 'Subscripting in Styde.Net',
          pending: true,
          editing: false
        },
        {
          description: 'Recording lesson vue.js',
          pending: false,
          editing: false
        }
      ]
    },
    methods:{
      createTask  : function () {
        this.tasks.push({
          description: this.new_task,
          pending: true,
          editing: false
        });

        this.new_task = '';
      },
      toogleStatus: function(task){
        task.pending = !task.pending;
      },
      editTask: function (task) {
        this.tasks.forEach(function (task) {
          task.editing = false;
        })

        this.draft = task.description;

        task.editing = true;
      },
      updateTask: function (task) {
        task.description = this.draft;
        task.editing = false;
      },
      discartTask: function (task) {
        task.editing = false;
      },
      deleteTask: function (index) {
        this.tasks.splice(index,1);
      },
      deleteCompleteTask: function () {
        this.tasks = this.tasks.filter(function (task) {
          return task.pending;
        })
      }
    }
  })
</script>
</body>
</html>