<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<div id="app" class="container">
    <p>Bienvenido {{name}}</p>

    <div class="footer">
        © 2018 @ossymartinez
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    // para ayudarnos a visualizar los componentes podemos usar la extension de chrome vue.js devtool https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=es
    /* la variable vm (ViewModel) nos puede servir para imprimirla en la consola del browser y examinar las propiedades del componante */
  var vm = new Vue({
    el: '#app', /*se usan selectores, nombres como body no funcionan y si encuentra repetidos tomara el primero */
    data: {
      name: ''
    },
    methods: {

    }
  })
    // podemos acceder por fuera de la definicion a las propiedades del vm
  vm.name = 'oswaldo'
</script>
</body>
</html>