<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="container">
    <h1>v-for</h1>

    <h2>Todas las tareas</h2>
    <ul>

        <!--v-for="task in tasks"-->
        <!--v-for="task of task"  genera el mismo resultado-->
        <!--v-for="(tesk,index) in tasks" para obtene el indice-->
        <li v-for="(task, index) in tasks">
            <del v-if="!task.pending">{{task.title}}</del>
            <template v-else>{{task.title}}</template>
        </li>
    </ul>

    <h2>Tareas pendientes</h2>
    <ul v-if="onlyPending.length">
        <!--v-for y v-if pueden ir juntas en el elemento del DOM-->
        <li v-for="task in tasks" v-if="task.pending">{{task.title}}</li>
    </ul>

    <h2>Tareas pendientes con computed property</h2>
    <ul>
        <li v-for="task in onlyPending">{{task.title}}</li>
    </ul>

    <h2>v-for en un objeto</h2>
    <ul>
        <li v-for="(value,key, index) in user">{{index}}: {{key}}: {{value}}</li>
    </ul>

    <div class="footer">
        © 2018 @ossymartinez
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      tasks: [
        {title: 'Aprender Vue.js', pending: false},
        {title: 'Inscribirme en Styde', pending: true},
        {title: 'Seguir a @Stydenet en twitter', pending: true}
      ],
      user: {
        name: 'oswaldo',
        lastname: 'martinez',
        username: 'oswaldo1088'
      }
    },
    computed: {
      onlyPending: function () {
        return this.tasks.filter(function (e) {
          return e.pending == true
        })
      }
    },
    methods: {}
  })
</script>
</body>
</html>