<template>
  <div id="app" class="container">
    <h2>Tareas <span class="badge badge-secondary">{{ tasks.length }}</span></h2>

    <template v-if="!tasks.length">
      <div class="alert alert-warning">No hay tareas en la lista!</div>
    </template>
    <template v-else>
      <app-task-list :tasks="tasks"></app-task-list>
    </template>

    <p><a @click="deleteCompleteTask()">Eliminar todas las tareas completadas</a></p>

    <app-task-form @created="createTask"></app-task-form>

    <footer class="footer">
      <p>&copy; 2018 Styde.net.</p>
    </footer>
  </div>
</template>

<script>
  import taskList from './TaskList'
  import taskForm from './TaskForm'

  export default {
    components: {
      'app-task-list': taskList,
      'app-task-form': taskForm
    },
    created () {
      this.tasks.forEach((task, index) => {
        this.$set(task, 'id', index + 1)
      })
    },
    data () {
      return {
        new_task: '',
        tasks: [
          {
            description: 'Learn Vue js',
            pending: true
          },
          {
            description: 'Subscripting in Styde.Net',
            pending: true
          },
          {
            description: 'Recording lesson vue.js',
            pending: false
          }
        ]
      }
    },
    methods: {
      createTask (task) {
        this.tasks.push(task)
      },
      deleteCompleteTask () {
        this.tasks = this.tasks.filter(task => task.pending)
      }
    }
  }
</script>

<style scoped>
  body {
    margin: 10px;
  }

  .container {
    max-width: 650px;
  }

  .container h2 {
    margin-bottom: 20px;
  }

  .container footer {
    margin: 40px 0;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #999;
  }
</style>
