<template>
  <ul class="list-group tasks">
    <app-task v-for="(task,index) in tasks" :key="task.id" :task="task" :index="index" @remove="deleteTask"></app-task>
  </ul>
</template>

<script>
  import Task from './Task'

  export default {
    components: {
      'app-task': Task
    },
    props: ['tasks'],
    methods: {
      deleteTask (index) {
        this.tasks.splice(index, 1)
      }
    }
  }
</script>

<style scoped>
  .tasks {
    margin-bottom: 40px;
  }
</style>
