<template>
  <li class="list-group-item" :class="{editing : editing, completed : !task.pending}">
    <a href="#" @click="toogleStatus">
      <app-icon :img="task.pending ? 'unchecked' : 'check'" aria-hidden="true"></app-icon>
    </a>
    <template v-if="!editing">
      <span class="description">{{task.description}}</span>
      <div>
        <a href="#" @click="edit">
          <app-icon img="edit"></app-icon>
        </a>
        <a href="#" @click="remove">
          <app-icon img="trash"></app-icon>
        </a>
      </div>
    </template>
    <template v-else>
      <input type="text" v-model="draft">
      <div>
        <a href="#" @click="update">
          <app-icon img="ok"></app-icon>
        </a>
        <a href="#" @click="discart">
          <app-icon img="remove"></app-icon>
        </a>
      </div>
    </template>
  </li>
</template>

<script>
  import EventBus from './even-bus'
  import Icon from './Icon'

  export default {
    components: {
      'app-icon': Icon
    },
    template: '#task-template',
    props: ['task', 'index'],
    data: function () {
      return {
        editing: false,
        draft: ''
      }
    },
    created () {
      EventBus.$on('editing', index => {
        if (this.index != index) {
          this.discart()
        }
      })
    },
    methods: {
      toogleStatus () {
        this.task.pending = !this.task.pending
      },
      edit () {
        EventBus.$emit('editing', this.index)
        this.draft = this.task.description

        this.editing = true
      },
      update () {
        this.task.description = this.draft
        this.editing = false
      },
      discart () {
        this.editing = false
      },
      remove () {
        this.$emit('remove', this.index)
      }
    }
  }
</script>

<style scoped>
  .tasks a {
    text-decoration: none;
  }

  .tasks li {
    display: flex;
    justify-content: space-between;
  }

  .tasks li.editing {
    box-shadow: inset 0 0 5px #999;
  }

  .tasks input, .tasks .description {
    flex: 1;
    padding: 0 5px;
  }

  .tasks input {
    border: 0;
  }

  .tasks input:focus {
    outline: none;
  }

  .completed .description {
    text-decoration: line-through;
  }

  .completed, .completed a {
    color: #999;
  }
</style>
