<template>
  <form @submit.prevent="create" class="new-task-form">
    <input type="text" class="form-control" v-model="draft">
    <button class="btn btn-primary">Crear tarea</button>
  </form>
</template>

<script>
  export default {
    data () {
      return {
        draft: ''
      }
    },
    methods: {
      create () {
        this.$emit('created', {
          description: this.draft,
          pending: true,
          editing: false
        })

        this.draft = ''
      }
    }
  }
</script>

<style scoped>
  .new-task-form {
    display: flex;
  }

  .new-task-form input {
    margin-right: 10px;
  }
</style>
