<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .decoration {
            text-decoration: line-through
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <h1>Events: v-on (@)</h1>
    <hr>
    <ul>
        <li v-for="(task, index) in tasks">
            <div :class="task.pending ? '': styleComputed" @click="changeState(index)">{{task.title}}</div>
            <!--<del v-if="!task.pending" @click="changeState(index)">{{task.title}}</del>-->
            <!--<div @click="changeState(index)"  v-else >{{task.title}}</div>-->
        </li>
    </ul>
    <h4>form with button</h4>
    <input type="text" v-model="new_task" class="form-control">
    <button class="btn btn-primary" v-on:click="addtask">save task</button>
    <hr>
    <h4>form without button (press enter)</h4>
    <input type="text" v-model="new_task" class="form-control" v-on:keyup.enter="addtask">
    <hr>
    <h4>with "form" element</h4>
    <!--v-on:submit.prevent forma corta en caso de prevenir recargar la pagina en forms -->
    <form v-on:submit="addtask">
        <input type="text" v-model="new_task" class="form-control" v-on:keyup.enter="addtask">
        <button class="btn btn-primary">save task</button>
    </form>
    <hr>
    <h4>form with params (task complete)</h4>
    <form v-on:submit="createtask(false,$event)">
        <input type="text" v-model="new_task" class="form-control">
        <button class="btn btn-primary">save task</button>
    </form>

    <div class="footer">
        © 2018 @ossymartinez
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      new_task: '',
      tasks: [
        {title: 'Aprender Vue.js', pending: false},
        {title: 'Inscribirme en Styde', pending: true},
        {title: 'Seguir a @Stydenet en twitter', pending: true}
      ]
    },
    computed:{
      styleComputed: function () {
        return "decoration"
      }
    },
    methods: {
      addtask: function (e) {
        //event.preventDefault()
        // Es necesario para evitar recargar la pagina cuando se utiliza la etiqueta "form"
        e.preventDefault()

        this.tasks.push({
          title: this.new_task,
          pending: true
        })
        this.new_task = ''
      },
      createtask: function (pending, event) {
        event.preventDefault()
        this.tasks.push({
          title: this.new_task,
          pending: pending
        })
        this.new_task = ''
      },
      changeState: function (index) {
        this.tasks[index].pending = !this.tasks[index].pending;
      }
    }
  })
</script>
</body>
</html>