<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="container">
    <h1>filters vue-js</h1>
    <h2>Se usan solo para interpolaciones: {{}} y con el atributo v-bind</h2>
    <hr>
    Welcome {{ name | title('Mr. ') | upper}}
    <br>
    <input type="number" v-model="pesos">

    <p>{{ pesos | money }}</p>
    <hr>
    <h2>Diff computed, filters, methhods</h2>
    <input type="text" v-model="name" class="form-control">
    <input type="text" v-model="email" class="form-control">
    <h4>with filter:</h4>
    {{ name | reversed}}
    <h4>with computed prop:</h4>
    {{ reverseName }}
    <h4>con Method:</h4>
    {{reverse(name)}}
    <hr>
    <div class="footer">
        © 2018 @ossymartinez
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
  //Definir el filtro de forma global. Se puede utilizar en otra instancia vm
  Vue.filter('title', function (value, title) {
    return title + value
  })

  Vue.filter('money', function (value) {
    return numeral(value).format('$0,0.00')
  })

  var vm = new Vue({
    el: '#app',
    data: {
      name: 'oswaldo',
      pesos: 0,
      email: "oswaldo@gmail.com"
    },
    computed:{
      reverseName:function () {
        // SOLO SE EJECUTA CUANDO HAGA FALTA: a diferencia de los filtros y metodos las computed solo se ejecutan
        // cuando solo cuando cambia la propiedad a la que se le aplica el filtro
        // en esta caso si cambio la prop "email" el filtro y el metodo se ejecutan nuevamente y computed NO
        console.log('computed');
        return this.name.split('').reverse().join('');
      }
    },
    filters: {
      //Definir upper filter de forma local
      upper: function (value) {
        return value.toUpperCase()
      },
      reversed: function (value) {
        console.log('filter');
        return value.split('').reverse().join('')
      }
    },
    methods: {
      reverse: function (value) {
        console.log('method');
        return value.split('').reverse().join('')
      }
    }
  })
</script>
</body>
</html>